/* Asterix means "anything" */

* {
   margin: 0;
   padding: 0;
}

/* Apply background colour to whole page */
body {
    background-color: paleturquoise;
}

/*  Make the container use flex box to arrange its childer */
.container {
    display: flex;
    flex-wrap: wrap;

}

/* Make rows as wide as the screen */
.row {
    /* disaply view window = dvw, which is better preformance on phones */
    width: 100dvw;
    padding: 2dvw;

}

/* Make the form row show its form columns side by side */
.formRow {
    width: 100dvw;
    margin: 0;
    display: flex;
    height: 10dvh;
}

/*  */
.displayRow {
    margin: 0;
    display: flex;
    height: 75dvh;
    padding: 1%;
}

/* All columns inside the formRow will have a spacing and a default size */
.formRow > .column {
    width: 50dvw;
    padding: 1dvw;
    margin: 0;
}

/* All Trello columns have default width and height, but expand to fit all cards inside them */
.trelloColumn {
    width: 33%;
    background-color: grey;
    min-height: 80%;
    height: max-content;
    margin: 1%;
}

/* All Trello cards style, even the one in the preview section */
.trelloCard {
    background-color: darkgoldenrod;
    width: 90%;
    height: 10dvh;
    text-align: center;
    margin: 0;
}

/* Style for just the card in the preview section */
#cardPreview {
    background-color: wheat;
    
}